streamlit==1.43.1

pandas==2.3.3
numpy==2.4.3

plotly==6.5.2
matplotlib==3.10.8

scikit-learn==1.8.0
xgboost==3.2.0
imbalanced-learn==0.14.1
mlxtend==0.24.0
statsmodels==0.14.6

joblib==1.5.3
openpyxl==3.1.5
